.button {
  display: inline-block;
  font-size: medium;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  height: 40px;
  width: 200px;
  color: black;
  font-weight: bolder;

  &:hover {
    background-color: #4095c6;
  }

  &:disabled {
    opacity: 0.4;
    background-color: #cccccc;
    color: white;
  }
}
